@font-face {
    font-family: 'poppins';
    src: url(../../../fonts/Poppins-SemiBold.ttf);
}

*{
    font-family: 'poppins';
}

h5{
    padding-left: 40px;
}

nav{

    padding-left: 50px;
}

hr{
    width: 150%;
}

.logout{
    margin-top: 150px;
    padding-right: 25px;
}