<div class="container">
    <div class="row">
        <div class="col-4 profilePic">
            <img src="https://cdn-icons-png.flaticon.com/512/601/601070.png" class="w-75 p-3" alt="UserProfilePicture">
        </div>
        <div class="col-8 info">
            <h3 class=" fw-bold mt-5 text-center" style="color: #9EFF00;">USERNAME</h3>
            <ul class="mt-5 list-unstyled mx-5">
                <li class="text-light"> Registered Since: ....</li>
                <li class="text-light"> Number of votes: ....</li>
                <li class="text-light"> Vote average: ....</li>
            </ul>
        </div>
    </div>
</div>